* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../Images/fondoMod.png);
    background-size: cover;
}

.div_consulta {
    width: 1000px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    backdrop-filter: blur(50px);
}

.div_consulta h1 {
    padding: 30px;
    color: white;
    font-size: 50px;
    font-family: 'Titan One', cursive;
}

.entradas {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px;
}

.div_consulta p {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}

.volver {
    color: red;
}

.div_consulta a:hover {
    color: #DF2E38;
}

.div_entradas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.fecha {
    height: 40px;
    width: 170px;
    font-size: 20px;
    border-radius: 5px;
}

.enviar{
    height: 40px;
    width: 80px;
    font-size: 20px;
    background-color: #395144;
    color: white;
}

.enviar:hover {
    background-color: #395130;
}
