:root {
    --blue: #12d2db;
    --white: #fcf2fa;
    --green: #5c2a91aa;
    --green-blc: #062321dd;
    --shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    --navColor: linear-gradient(to right, rgba(19, 148, 83, 0.6)5%, rgba(6, 35, 23, 0.9));
    /*--navColor : linear-gradient(to right, rgba(178, 47, 147, .6)5%, rgba(35, 6, 34, .9));*/
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2D2727;
}


header {
    height: 80px;
}


/*.home {
    background-color: #395144;
}*/

nav {
    position: absolute;
    background: var(--navColor);
    box-shadow: var(--shadow);
    height: 80px;
    width: 100%;
}

label.logo {
    color: var(--white);
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
    text-shadow: 3px 5px 20px #230622aa;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    color: var(--white);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 13px;
    /*text-transform: lowercase;*/
}

a:hover {
    background: var(--green);
    transition: .5s;
}

.checkbtn {
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

.checkbtn i {
    color: var(--white);
    padding: 5px;
    border-radius: 10px;
    transition: .5s ease;
}

.checkbtn i:hover {
    background: var(--green);
}

#check {
    display: none;
}

section div h2 {
    color: white;
    font-size: 50px;
    font-family: 'Titan One', cursive;
}

.div_h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px #000000;
}

.div_search p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.date1 {
    font-size: 15px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}

.date2 {
    font-size: 15px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}

.menu {
    font-size: 15px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}


.boton {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #395144;
    font-family: verdana;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 5px;
}

.div_crud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px #000000;
}

.div_crud h4 {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;
}

.search2 {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.destinos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.destinos img {
    flex-grow: 1;
    width: 150px;
    height: 500px;
    object-fit: cover;
    transition: .5s ease;
}

.destinos img:hover {
cursor: crosshair;
width: 300px;
opacity: 1;
filter: contrast(120%);
}