:root {
    --blue: #12d2db;
    --white: #fcf2fa;
    --green: #5c2a91aa;
    --green-blc: #062321dd;
    --shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    --navColor: linear-gradient(to right, rgba(19, 148, 83, 0.6)5%, rgba(6, 35, 23, 0.9));
    /*--navColor : linear-gradient(to right, rgba(178, 47, 147, .6)5%, rgba(35, 6, 34, .9));*/
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #395144;
}

header {
    height: 80px;
}

/*.home {
    background-color: #395144;
}*/

nav {
    position: absolute;
    background: var(--navColor);
    box-shadow: var(--shadow);
    height: 80px;
    width: 100%;
}

label.logo {
    color: var(--white);
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
    text-shadow: 3px 5px 20px #230622aa;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    color: var(--white);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 13px;
    /*text-transform: lowercase;*/
}

a:hover {
    background: var(--green);
    transition: .5s;
}

.checkbtn {
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

.checkbtn i {
    color: var(--white);
    padding: 5px;
    border-radius: 10px;
    transition: .5s ease;
}

.checkbtn i:hover {
    background: var(--green);
}

#check {
    display: none;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.anonimos {
    width: 1100px;
    height: 500px;
    border-radius: 5%;
    object-fit: cover;
}

.logo {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.contenedor_parrafo {
    padding: 20px;
    color: white;
    font-size: 60px;
    text-align: center;
    align-items: center;
}

.kali {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.contenedor_parrafo {
    overflow: hidden;
}

.parrafo {
    font-size: 25px;
    font-style: italic;
    color: white;
}

aside {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

aside img {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}

aside p {
    color: white;
    font-size: 30px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mapa {
    border-radius: 10%;
}